body {
  font-family: urbanist, sans-serif;
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1.5;
  color: #7e7e7e;
  text-align: left;
  /* font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 24px; */
}


header nav {
  padding: 0px !important;
}

header nav #logo {
  width: 255px;
  height: 35px;
}

header nav #mobile-navbar-show {
  cursor: pointer;
  border: none;
}

header nav ul li {
  position: relative;
  padding: 48px 20px;
}

header nav ul li a {
  position: relative;
  font-size: 20px;
  text-transform:inherit;
  letter-spacing: .1em;
  color: black !important;
  font-weight: 500;
}

header nav ul li a::after {
  content: "";
  -webkit-transition: width .3s;
  transition: width .3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: black;
}

header nav ul li a:hover {
  text-decoration: none;
}

header nav ul li a:hover::after {
  width: 80%;
}

header nav ul li .fa-search {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

header nav ul li i, header nav ul li span {
  cursor: pointer;
}

header nav ul li ul {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: #fff;
  position: absolute;
  top: 115px;
  left: 0;
  width: 228px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

header nav ul li ul li {
  padding: 5px 30px;
}

header nav ul li ul li i {
  font-size: 10px !important;
}

header nav ul li ul li ul {
  opacity: 0 !important;
  visibility: hidden !important;
  top: 0;
  left: 100%;
}

header nav ul li ul li #input-search {
  border: none;
}

header nav ul li ul li #input-search:focus {
  outline: none;
}

header nav ul li ul li:hover ul {
  opacity: 1 !important;
  visibility: visible !important;
}

header nav ul li ul .element ul {
  top: 0;
  left: -100%;
}

header nav ul li .elements li {
  text-align: right;
}

header nav ul li .shop {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: #fff;
  position: absolute;
  top: 129px;
  width: 120%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

header nav ul li .shop ul {
  width: auto;
  opacity: 1;
  visibility: visible;
  position: relative;
  top: 0;
}

header nav ul li .shop ul li {
  padding: 5px 0;
}

header nav ul li .shop ul li a {
  padding: 0 !important;
}

header nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

header nav ul li:hover .shop {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

header nav ul li.shop-li {
  position: static;
}

header nav ul .shop-cart sup {
  padding: 2px 5px;
  color: #fff;
  background-color: #f34f3f;
}

header nav ul .shop-cart ul {
  top: 120px;
  left: -70%;
}

header nav ul .shop-cart ul li {
  font-size: 20px;
}

/* header nav ul .search ul {
  visibility: visible;
  opacity: 1;
  top: 100px;
  display: none;
}

header nav ul .search ul li i {
  font-size: 14px !important;
} */

header .mobile-navbar {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #fff;
  top: 0;
  right: 36px;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

header .mobile-navbar .fa-times {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  color: #f34f3f;
}

header .mobile-navbar ul li {
  margin-top: 20px;
}

header .mobile-navbar ul li a {
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  letter-spacing: .1em;
}

header .mobile-navbar ul li a:hover {
  text-decoration: none;
}

header .mobile-navbar ul ul {
  display: none;
}

header .mobile-navbar ul ul li {
  margin-top: 0;
}

header .mobile-navbar ul ul li a {
  padding: 0 !important;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 0em;
  color: gray;
}

header .mobile-navbar ul ul ul li {
  text-transform: uppercase;
}

header .mobile-navbar.active {
  width: 420px;
  visibility: visible;
  opacity: 1;
  right: 0;
  z-index: 9;
}

/* CAROUSEL */
.hero-carousel .carousel-item .carousel-image {
  transform: scale(1) translateX(0);
  transition: all 0.6s;
}

.hero-carousel .carousel-item.carousel-item-next .carousel-image,
.hero-carousel .carousel-item.active.carousel-item-right .carousel-image {
  transform: scale(1.3) translateX(-50%);
}

.hero-carousel .carousel-item.carousel-item-prev .carousel-image,
.hero-carousel .carousel-item.active.carousel-item-left .carousel-image {
  transform: scale(1.3) translateX(50%);
}

.hero-carousel .carousel-item.carousel-item-next.carousel-item-left .carousel-image,
.hero-carousel .carousel-item.carousel-item-prev.carousel-item-right .carousel-image {
  /*transform: scale(1);*/
  transform: scale(1) translateX(0);
}


/* Makes carousel full screen */
.hero-carousel .carousel-item {
  height: 50vh;
  overflow: hidden;
}

.hero-carousel .carousel-item .carousel-image {
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}







body {
  background-color: #333;
}

/* container start */
.container {
  padding: 0 20px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

/* container end */

/* section start */
.section {
  padding: 110px 0;
}


.section__header {
  margin-bottom: 90px;
}

@media (max-width: 576px) {
  .section {
      padding: 90px 0;
  }

  .section__header {
      margin-bottom: 70px;
  }
}

/* section end */

 /* Ən çox satilanlar  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://images.selfridges.com/is/image/selfridges/R03676943_ALT01?$PDP_M_ZOOM$") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://images.selfridges.com/is/image/selfridges/456-84033258-L5597600_M?$PDP_M_ZOOM$") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://images.selfridges.com/is/image/selfridges/R03660320_M?$PDP_M_ZOOM$") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://images.selfridges.com/is/image/selfridges/R00106506_M?$PDP_M_ZOOM$") no-repeat center;
    background-size: cover;
}
.section-products #product-5 .part-1::before {
  background: url("https://images.selfridges.com/is/image/selfridges/496-3003325-PM0007PV_M?$PDP_M_ZOOM$") no-repeat center;
  background-size: cover;
}
.section-products #product-6 .part-1::before {
  background: url("https://images.selfridges.com/is/image/selfridges/1033-83022651-MFK1042302_M?$PDP_M_ZOOM$") no-repeat center;
  background-size: cover;
}
.section-products #product-7 .part-1::before {
  background: url("https://images.selfridges.com/is/image/selfridges/496-71012338-INBG0001SP_ALT01?$PDP_M_ZOOM$") no-repeat center;
  background-size: cover;
}
.section-products #product-8 .part-1::before {
  background: url("https://images.selfridges.com/is/image/selfridges/453-3001058-T5Y3010000_ALT10?defaultImage=453-3001058-T5Y3010000_M&$PLP_ALL$") no-repeat center;
  background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

 /* Ən çox satilanlar end  */
  /* Product slider multi start */

  .slider-item{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.slider-item .slider-image img{
    margin: 0 auto;
    width: 100%;
}
.slider-item .slider-main-detail{
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
.slider-item:hover .slider-main-detail{
    background-color: #dbeeee !important;
}
.slider-item .price{
    float: left;
    margin-top: 5px;
}
.slider-item .price h5{
    line-height: 20px;
    margin: 0;
}
.detail-price{
    color: #219FD1;
}
.slider-item .slider-main-detail .rating{
    color: #777;
}
.slider-item .rating{
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}
.slider-item .btn-add{
    width: 50%;
    float: left;
    border-right: 1px solid #E1E1E1;
}
.slider-item .btn-details{
    width: 50%;
    float: left;
}
.controls{
    margin-top: 20px;
}
.btn-info,.btn-info:visited,.btn-info:hover{
	background-color: #21BBD8;
	border-color: #21BBD8;
}
.btn-info{
	margin-left:5px;
}
.slider-main-detail:hover{
	background-color: #dbeeee !important;
}
.AddCart{
	margin: 0px;
	padding:5px;
	border-radius:2px;
	margin-right:10px;
}
.review {
	margin-bottom: 5px;
	padding-top:5px;
}


/* ABOUT */

#about .img {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#about .img img {
  -webkit-transition: all .3s;
  transition: all .3s;
}

#about .img:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#about .img .player {
  width: 100px;
  height: 100px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#about .img .player i {
  color: #f34f3f;
}

#about .about-text h1 {
  font-family: "Playfair Display", serif;
}

#about .about-text h1 span {
  color: #f34f3f;
}

#about .about-text p, #about .about-text li {
  font-family: Lora, serif;
  font-size: 17px;
  line-height: 29px;
}
/* ABOUT end */

/* TESTIMONIAL  Start */

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f6f3ea;
}
.testimonial {
	padding: 80px 0;
}
.sec-heading {
	margin-bottom: 60px;
}
.sec-heading h6 {
	font-family: allura;
	font-weight: 900;
	font-size: 80px;
}
.single-box {
	border: 3px solid #e6f0fa;
	padding: 50px 30px 40px;
	border-radius: 20px;
	background: #fff;
}
.img-area {
	margin: 55px 0 25px;
}
.single-box img {
	max-width: 150px;
	border-radius: 70%;
	margin: 0 auto
}
.single-box h4 {
	font-weight: 600;
	margin: 0;
	font-family: 'Allura', cursive;
	font-size: 35px;
}
.single-box {
	overflow: hidden
}
.single-box .img-area {
	width: 30%;
	float: left;
	margin: 0
}
.single-box .content {
	width: 70%;
	float: left;
	padding-left: 10px
}
.single-box p {
	margin: 10px 0 25px;
	line-height: 2.3;
}
.testi-carousel-three .single-box {
	border: 0;
	padding: 0 50px;
}
.testi-carousel .owl-dots, .clients-carousel .owl-dots, .testi-carousel-three .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -60px;
	text-align: center;
	width: 100%;
}
.testi-carousel .owl-dot, .clients-carousel .owl-dot, .testi-carousel-three .owl-dot {
	width: 16px;
	height: 16px;
	background-color: #ddd;
	display: inline-block;
	margin: 0 6px;
	text-align: center;
	border-radius: 50%;
}
.testi-carousel .owl-dot.active, .clients-carousel .owl-dot.active, .testi-carousel-three .owl-dot.active {
	background-color: blueviolet;
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
	.testimonial {
		padding: 70px 0 130px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
	.testimonial {
		padding: 70px 0 130px;
	}
	.single-box {
		padding: 50px 0 40px;
	}
	.single-box .img-area {
		width: 100%;
		float: none;
	}
	.single-box .content {
		width: 100%;
		float: none;
	}
}


/* TESTIMONIAL End */

/* SUBSCRIBE START CSS */

#subscribe {
  background: url(../img/instagram-posts/LIBRE.jpg);
  background-attachment: fixed;
}

#subscribe .content h3 {
  color: #fff;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

#subscribe .content input {
  border: none;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  padding: 30px !important;
  width: 100% !important;
}

#subscribe .content input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 576px) {
  #subscribe .content input {
    width: 50% !important;
  }
}

#subscribe .content ::-webkit-input-placeholder {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

#subscribe .content :-ms-input-placeholder {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

#subscribe .content ::-ms-input-placeholder {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

#subscribe .content ::placeholder {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

#subscribe .content button {
  padding: 20px !important;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: #f34f3f;
}
/* INSTAGRAM */


.unt {
  margin-bottom: 20px;
  margin-top: 60px;
}

.hero-text {
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #fff;
}

/* .gallery-thumbs {
  height: 90%;
}

.gallery-thumbs .swiper-wrapper {
  align-items: center;
}

.gallery-thumbs .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 220px !important;
  height: 300px;
  position: relative;
}

.gallery-thumbs .swiper-slide img {
  filter: contrast(0.5) blur(1px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-thumbs .swiper-slide-active img {
  filter: contrast(1) blur(0px) !important;
} */

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-row .flex-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.gallery-thumbs .swiper-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.testimonial-section .quote {
  width: 55%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.swiper-container.testimonial {
  height: 100vh;
}

.testimonial-section .user-saying {
  background: gainsboro;
  width: 60%;
  color: #fff;
  height: 100%;
}

.testi-user-img {
  width: 60%;
}

.testimonial-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.testimonial-section .quote p {
  font-size: 20px;
  font-weight: 300;
  line-height: 2;
  font-style: italic;
  margin: 0;
}

.quote-icon {
  width: 38px;
  display: block;
  margin-bottom: 30px;
}


/* FOOTER START */
body {
  background: #fbfbfd;
}

.new_footer_area {
  background: #fbfbfd;
}


.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
}

.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer_bottom {
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  color: #7f88a6;
  padding: 35px 0px;
}

.new_footer_top .company_widget p {
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  color: #6a7695;
  margin-bottom: 40px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}

.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 20px;
  font-size: large;
}

.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
  width: 40px;
  height: 45px;
  line-height: 70px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 60px;
}

.f_social_icon a {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  font-size: 30px;
  line-height: 70px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.ti-facebook:before {
  content: "\e741";
}

.ti-twitter-alt:before {
  content: "\e74b";
}

.ti-vimeo-alt:before {
  content: "\e74a";
}

.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
  color: white;
}

.new_footer_top .f_social_icon a+a {
  margin-left: 4px;
}

.new_footer_top .f-title {
  margin-bottom: 50px;
  color: #263b5e;
}

.f_600 {
  font-weight: 800;
}

.f_size_18 {
  font-size: 38px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b505e;
}

.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}


.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://media0.giphy.com/media/H6hw5PYMmT8ANvbJCX/giphy.gif?cid=ecf05e47yukeh6ccqy9j5xa129dug0b41pii6ccxwyy92fs5&rid=giphy.gif&ct=g") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://media2.giphy.com/media/xUA7b3JB7WAIGVbyTK/giphy.gif?cid=ecf05e47b1snd1mopo26dy6wvhq0edyhc9gdaqwmeqqkpakl&rid=giphy.gif&ct=g") no-repeat center center;
  width: 100px;
  height: 100px;
  background-size: 220%;
  bottom: 0;
  left: 50%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

/* FOOTER END */




*/
/* RESPONSIVE CARD */

* {
  box-sizing: border-box;
}

.title {
  font-size: 60px;
  padding: 20px 0px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #eaeaea;
}

.container {
  
  margin: 0px auto;
}

/* Float three columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 700px) {

  .container {
    width: 100%;
  }

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.card .profile {
  border-radius: 10px;
  transition: 0.2s;
}

.card:hover .profile {
  transform: scale(1.4);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.card .content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

}

.card .content .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1e6;
  transition: 1s;

  z-index: 1;
  padding: 10px;
}

.from-left {
  top: 0;
  left: -100%;
}

.card:hover .content .from-left {
  left: 0%;
}

.from-bottom {
  top: 100%;
  left: 0;
}

.card:hover .content .from-bottom {
  top: 0%;
}

.from-right {
  top: 0%;
  right: -100%;
}

.card:hover .content .from-right {
  right: 0;
}

.card .content .back h3 {
  font-size: 15px;
  letter-spacing: 2px;
}

.card .content .back .tem-img {
  border-radius: 100%;
}

.card .content .back .des {
  font-size: 13px;
  padding: 20px 0px;
}

.card .content .back .social-icon {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.card .content .back .social-icon li {
  display: inline-block;
}

.card .content .back .social-icon li a {
  display: block;
  background: #333;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 100%;
}