body {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 24px;
  }
  header nav {
    padding: 0px !important;
  }
  
  header nav #logo {
    width: 220px;
    height: 50px;
  }
  
  header nav ul li {
    position: relative;
    padding: 38px 20px;
  }
   
  header nav ul li a {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: black !important; 
    font-weight: 500;
  }
  
  header nav ul li a::after {
    content: "";
    -webkit-transition: width .3s;
    transition: width .3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: pink;
  }
  
  header nav ul li a:hover {
    text-decoration: none;
  }
  
  header nav ul li a:hover::after {
    width: 80%;
  }
  
  header nav ul li ul {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    background-color: plum;
    position: absolute;
    top: 115px;
    left: 0;
    width: 228px;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }
  

  header nav ul .shop-cart sup {
    padding: 1px 3px;
    color: #fff;
    background-color: black;
  }
  
  header nav ul .shop-cart ul {
    top: 100px;
    left: -70%;
  }
  
  header nav ul .shop-cart ul li {
    font-size: 14px;
  }
  
  header nav ul .search ul {
      color: blue;
    visibility: visible;
    opacity: 1;
    top: 100px;
    display: none;
  }
  
  header nav ul .search ul li i {
    font-size: 40px !important;
  }
  
  header .mobile-navbar {
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: pink;
    top: 0;
    right: 36px;
    width: 0;
    opacity: 0;
    visibility: hidden;
  }
 
  header .mobile-navbar ul ul ul li {
    text-transform: uppercase;
  }
  
  header .mobile-navbar.active {
    width: 420px;
    visibility: visible;
    opacity: 1;
    right: 0;
    z-index: 9;
  }
  

/* Parallax animation effects */
.hero-carousel .carousel-item .carousel-image{
  transform: scale(1) translateX(0);
  transition: all 0.6s;
}

.hero-carousel .carousel-item.carousel-item-next .carousel-image,
.hero-carousel .carousel-item.active.carousel-item-right .carousel-image{
  transform: scale(1.3) translateX(-50%);
}

.hero-carousel .carousel-item.carousel-item-prev .carousel-image,
.hero-carousel .carousel-item.active.carousel-item-left .carousel-image{
  transform: scale(1.3) translateX(50%);
}

.hero-carousel .carousel-item.carousel-item-next.carousel-item-left .carousel-image, 
.hero-carousel .carousel-item.carousel-item-prev.carousel-item-right .carousel-image{
  /*transform: scale(1);*/
  transform: scale(1) translateX(0);
}


/* Makes carousel full screen */
.hero-carousel .carousel-item{
  height: 50vh;
  overflow: hidden;
}
.hero-carousel .carousel-item .carousel-image{
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}




/* Ignore this CSS */
#carouselExampleIndicators{
  width: 60%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.pictures-6 {
  border-radius: 5px;
  position: relative;
}

.pictures-6 a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.pictures-6 a:hover {
  color: #333;
}

.pictures-6 img {
  width: 80%;
  height: 70%;
  border-radius: 5px;
}

.pictures-6-text {
  position: absolute;
  top: 15%;
  left: 20%;
}

.pictures-6-text h4 {
  color: #01a701;
}

.pictures-6-text h3 {
  color: #304dc0;
}

.pictures-6-text p {
  color: #7c7f8a;
}

.pictures-6-text button {
  outline: none;
  border: none;
  background-color: #7c7f8a;
  border-radius: 30px;
  padding: 5px 10px;
  color: #fff;
}

.pictures-6-picture {
  border-radius: 5px;
}

.pictures-6-picture a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.pictures-6-picture a:hover {
  color: #333;
}

.pictures-6-picture img {
  width: 80%;
  height: 70%;
  border-radius: 5px;
}

.pictures-6-information p {
  color: #6e6e6e;
}

.pictures-6-information .comment {
  color: black;
}

.pictures-6-information .italic {
  font-style: italic;
}

.pictures-6-information .author {
  color: black;
}

.line-through {
  text-decoration: line-through;
  color: #c5c5c5;
  font-size: 100%;
}



/* Card Carousel SLIDER */

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 450px;
  height: 400px;
  margin-left: 10px;
  margin-right: 40px;
  
}



body {
  margin: 0 auto;
  padding: 0;
  height: 30vh;
  background-color: #FAFAFA;
}

.cards {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

@mixin all-cards {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 50px;
  height: 50px;
  margin: 2%;
  
  font-size: 2em;
  background-color: white;
  box-shadow: 5px 0px 5px 1px #E5DEE8, 
-5px 5px 5px 0px #DDDDDD;
  color: #6226a6;
}

.card-one {
  @include all-cards;
  animation: card-one 3s infinite;
  z-index: 4;
}

.card-two {
  @include all-cards;
  animation: card-two 3s infinite;
  z-index: 3;
}

.card-three {
  @include all-cards;
  animation: card-three 3s infinite;
  z-index: 2;
}

.card-four {
  @include all-cards;
  animation: card-four 3s infinite;
  z-index: 1;
}

@keyframes card-one {
  0% {
   color: white;
  }
  1% {
   color: white;
  }
}

@keyframes card-two {
  0% {
   transform: translateX(-300px);
   color: white;
  }
  1% {
   color: white;
  }
  
}

@keyframes card-three {
  0% {
   transform: translateX(-603px);
   color: white;
  }
  1% {
   color: white;
  }

}


@keyframes card-four {
  0% {
   transform: translateX(-905px);
   color: white;
  }
  1% {
   color: white;
  }
}






