body {
  font-family: urbanist, sans-serif;
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1.6;
  color: #7e7e7e;
  text-align: left;
  /* font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 24px; */
}

header nav {
  padding: 0px !important;
}

header nav #logo {
  width: 220px;
  height: 50px;
}

header nav ul li {
  position: relative;
  padding: 38px 20px;
}

header nav ul li a {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: black !important;
  font-weight: 500;
}

header nav ul li a::after {
  content: "";
  -webkit-transition: width .3s;
  transition: width .3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: pink;
}

header nav ul li a:hover {
  text-decoration: none;
}

header nav ul li a:hover::after {
  width: 80%;
}

header nav ul li ul {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: plum;
  position: absolute;
  top: 115px;
  left: 0;
  width: 228px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}


header nav ul .shop-cart sup {
  padding: 1px 3px;
  color: #fff;
  background-color: black;
}

header nav ul .shop-cart ul {
  top: 100px;
  left: -70%;
}

header nav ul .shop-cart ul li {
  font-size: 14px;
}

header nav ul .search ul {
  color: blue;
  visibility: visible;
  opacity: 1;
  top: 100px;
  display: none;
}

header nav ul .search ul li i {
  font-size: 40px !important;
}

header .mobile-navbar {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: pink;
  top: 0;
  right: 36px;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

header .mobile-navbar ul ul ul li {
  text-transform: uppercase;
}

header .mobile-navbar.active {
  width: 420px;
  visibility: visible;
  opacity: 1;
  right: 0;
  z-index: 9;
}


/* Parallax animation effects */
.hero-carousel .carousel-item .carousel-image {
  transform: scale(1) translateX(0);
  transition: all 0.6s;
}

.hero-carousel .carousel-item.carousel-item-next .carousel-image,
.hero-carousel .carousel-item.active.carousel-item-right .carousel-image {
  transform: scale(1.3) translateX(-50%);
}

.hero-carousel .carousel-item.carousel-item-prev .carousel-image,
.hero-carousel .carousel-item.active.carousel-item-left .carousel-image {
  transform: scale(1.3) translateX(50%);
}

.hero-carousel .carousel-item.carousel-item-next.carousel-item-left .carousel-image,
.hero-carousel .carousel-item.carousel-item-prev.carousel-item-right .carousel-image {
  /*transform: scale(1);*/
  transform: scale(1) translateX(0);
}


/* Makes carousel full screen */
.hero-carousel .carousel-item {
  height: 50vh;
  overflow: hidden;
}

.hero-carousel .carousel-item .carousel-image {
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}




/* Ignore this CSS */
#carouselExampleIndicators {
  width: 80%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.pictures-6 {
  border-radius: 5px;
  position: relative;
}

.pictures-6 a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.pictures-6 a:hover {
  color: #333;
}

.pictures-6 img {
  width: 80%;
  height: 70%;
  border-radius: 5px;
}

.pictures-6-text {
  position: absolute;
  top: 15%;
  left: 20%;
}

.pictures-6-text h4 {
  color: #01a701;
}

.pictures-6-text h3 {
  color: #304dc0;
}

.pictures-6-text p {
  color: #7c7f8a;
}

.pictures-6-text button {
  outline: none;
  border: none;
  background-color: #7c7f8a;
  border-radius: 30px;
  padding: 5px 10px;
  color: #fff;
}

.pictures-6-picture {
  border-radius: 5px;
}

.pictures-6-picture a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.pictures-6-picture a:hover {
  color: #333;
}

.pictures-6-picture img {
  width: 80%;
  height: 70%;
  border-radius: 5px;
}

.pictures-6-information p {
  color: #6e6e6e;
}

.pictures-6-information .comment {
  color: black;
}

.pictures-6-information .italic {
  font-style: italic;
}

.pictures-6-information .author {
  color: black;
}

.line-through {
  text-decoration: line-through;
  color: #c5c5c5;
  font-size: 100%;
}



/* Card Carousel SLIDER */

#owl-demo .item {
  margin: 3px;
}

#owl-demo .item img {
  display: block;
  width: 450px;
  height: 400px;
  margin-left: 10px;
  margin-right: 40px;

}


/* 
body {
  margin: 0 auto;
  padding: 0;
  height: 30vh;
  background-color: #FAFAFA;
} */

.cards {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

@mixin all-cards {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 50px;
  height: 50px;
  margin: 2%;

  font-size: 2em;
  background-color: white;
  box-shadow: 5px 0px 5px 1px #E5DEE8,
    -5px 5px 5px 0px #DDDDDD;
  color: #6226a6;
}

.card-one {
  @include all-cards;
  animation: card-one 3s infinite;
  z-index: 4;
}

.card-two {
  @include all-cards;
  animation: card-two 3s infinite;
  z-index: 3;
}

.card-three {
  @include all-cards;
  animation: card-three 3s infinite;
  z-index: 2;
}

.card-four {
  @include all-cards;
  animation: card-four 3s infinite;
  z-index: 1;
}

@keyframes card-one {
  0% {
    color: white;
  }

  0% {
    color: white;
  }
}

@keyframes card-two {
  0% {
    transform: translateX(-300px);
    color: white;
  }

  0% {
    color: white;
  }

}

@keyframes card-three {
  0% {
    transform: translateX(-603px);
    color: white;
  }

  0% {
    color: white;
  }

}


@keyframes card-four {
  0% {
    transform: translateX(-905px);
    color: white;
  }

  0% {
    color: white;
  }
}


/* 
#imagesss .row .exams img {
  margin-right: 800px;

  display: flex;
  width: 50%;
  height: 100%;

}

#imagesss .row .exam1 img {
  margin-left: 200px;

  display: flex;
  width: 100%;
  height: 100%;

} */

/* TESTIMONIAL */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

:root {
  --dark-green: #9cc675;
  --dark-yellow: #e89a3d;
  --extra-light-brown:#fdf0d7;
  --light-brown: #ecd5ab;
  --dark-brown:#915b40;
  --light-yellow:#f8e3a8;
  --light-red:#f3ac99;
  --light-teal:#a6c8cc;
  --light-gray:#ddd5d6;
  --theme-color2: #e89a3d;
}


.site-logo {
width: 218.33px !important;
margin-right: 50px;
}
.btn {
border-radius: 5px;
font-weight: normal;
font-size: 15px;
letter-spacing: 0.02em;
line-height: 12px;
text-align: center;
font-weight: 600;
font-size: 14px;
padding: 14px 30px;
cursor: pointer;
}
.btn-theme {
background: var(--theme-color1);
color: #212121;
}

.c-container {
margin: auto;
width: 93%;
position: relative;
z-index: 1;
}

.btn-outline-white {
color: #fff;
background-color: rgba(255, 255, 255, 0.1);
background-image: none;
border-width: 2px;
border-color: #fff;
font-weight: 500;
-webkit-transition: all .2s;
transition: all .2s;
}
.btn {
border-radius: 5px;
font-weight: normal;
font-size: 15px;
letter-spacing: 0.02em;
line-height: 12px;
text-align: center;
font-weight: 600;
font-size: 14px;
padding: 14px 30px;
cursor: pointer;
}
.btn-outline-white:hover {
background-color: #fff;
color: var(--text-dark);
}
/* common css up */

.testimonial p {
font-size: 28px;
letter-spacing: 0.02em;
line-height: 35px;
}
.testimonial .name {
font-weight: bold;
font-size: 18px;
letter-spacing: 0.04em;
line-height: 35px;
text-align: left;
}
.testimonial .designation {
font-size: 14px;
letter-spacing: 0.04em;
text-align: left;
color: #fff;
opacity: 0.65;
}
.unt {
margin-bottom: 20px;
margin-top: 60px;
}
.hero-text {
font-size: 30px;
letter-spacing: 0.02em;
color: #fff;
}
.gallery-thumbs {
height: 100%;
}
.gallery-thumbs .swiper-wrapper {
align-items: center;
}
.gallery-thumbs .swiper-slide {
background-position: center;
background-size: cover;
width: 250px !important;
height: 330px;
position: relative;
}
.gallery-thumbs .swiper-slide img {
filter: contrast(0.5) blur(1px);
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
}
.gallery-thumbs .swiper-slide-active img {
filter: contrast(1) blur(0px) !important;
}
.flex-row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
.flex-row .flex-col {
-ms-flex-preferred-size: 0;
flex-basis: 0;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
max-width: 100%;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.gallery-thumbs .swiper-wrapper {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}


.testimonial-section .quote {
width: 75%;
height: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
padding-left: 100px;
padding-right: 100px;
}
.swiper-container.testimonial {
height: 100vh;
}
.testimonial-section .user-saying {
background: gainsboro;
width: 60%;
color: #fff;
height: 100%;
}
.testi-user-img {
width: 40%;
}
.testimonial-section {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
width: 100%;
height: 50%;
}
.testimonial-section .quote p {
font-size: 20px;
font-weight: 300;
line-height: 1.8;
font-style: italic;
margin: 0;
}
.quote-icon {
width: 38px;
display: block;
margin-bottom: 30px;
}