body {
  font-family: urbanist, sans-serif;
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1.6;
  color: #7e7e7e;
  text-align: left;
  /* font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 24px; */
}

header nav {
  padding: 0px !important;
}

header nav #logo {
  width: 220px;
  height: 50px;
}

header nav ul li {
  position: relative;
  padding: 38px 20px;
}

header nav ul li a {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: black !important;
  font-weight: 500;
}

header nav ul li a::after {
  content: "";
  -webkit-transition: width .3s;
  transition: width .3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: pink;
}

header nav ul li a:hover {
  text-decoration: none;
}

header nav ul li a:hover::after {
  width: 80%;
}

header nav ul li ul {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: plum;
  position: absolute;
  top: 115px;
  left: 0;
  width: 228px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}


header nav ul .shop-cart sup {
  padding: 1px 3px;
  color: #fff;
  background-color: black;
}

header nav ul .shop-cart ul {
  top: 100px;
  left: -70%;
}

header nav ul .shop-cart ul li {
  font-size: 14px;
}

header nav ul .search ul {
  color: blue;
  visibility: visible;
  opacity: 1;
  top: 100px;
  display: none;
}

header nav ul .search ul li i {
  font-size: 40px !important;
}

header .mobile-navbar {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: pink;
  top: 0;
  right: 36px;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

header .mobile-navbar ul ul ul li {
  text-transform: uppercase;
}

header .mobile-navbar.active {
  width: 420px;
  visibility: visible;
  opacity: 1;
  right: 0;
  z-index: 9;
}



/* HEADER END  */

/* PRODUCTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');

*{
   
    padding: 0;
    margin: 0;
}

:root{
    font-size: 14px;
    font-family: "Raleway";
    --heading-color: hsl(0, 0%, 7%);
    --previous-price-text-color: hsl(0, 98%, 44%);
    --current-price-text-color: hsla(0, 0%, 0%, 0.822);
    --liked-heart-icon-color: hsl(0, 98%, 44%);
    --heart-icon-color: whitesmoke;
    --pricing-font-weight: 800;
    --title-font-weight: 800;
 

    /* Cards colors */
    --card-main-color : whitesmoke;
    --card-1-secondary-color:   rgb(178,180,179);
    --card-2-secondary-color:   rgb(178,180,179);
    --card-3-secondary-color:   rgb(178,180,179);
    --card-4-secondary-color:   rgb(178,180,179);
    --card-5-secondary-color:   rgb(178,180,179);
    --card-6-secondary-color:   rgb(178,180,179);
    --card-7-secondary-color:   rgb(178,180,179);
    --card-8-secondary-color:   rgb(178,180,179);
    --card-9-secondary-color:   rgb(178,180,179);
    --card-10-secondary-color:  rgb(178,180,179);
    --card-11-secondary-color:  rgb(178,180,179);
    --card-12-secondary-color:  rgb(178,180,179);
}

html{
    width: 100%;
    height: 100%;
}

body{
     background-color: lightcyan; 
 
}

.container input{
    display: none;
}

.container{
    max-width: 100rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    margin: auto;
    min-height: 40em;
    min-width: 89%;
    padding: 3em 1em 1em 1em;
    box-sizing: border-box;
}

/* Card Styling */
.card-div{
 
    width: 20em;
    min-height: 20em;
    display: flex;
    flex-direction:column;
    justify-items: center;
    align-items: center;
    /* background-color: var(--card-main-color); */
    margin: 2.8em; 
    /* card arasi mesafe */
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: transform 0.2s ease-in-out;
}

/* ======== General styling of all cards and heart divs ========== */
.img-div{
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    z-index: 1;
    border-radius: 0 0 12px 12px;
}

.img-div img{
    transform-origin: bottom;
    transform: translateY(8.5%);
    transition: transform 0.3s ease-in-out
}

/* === Styling the like Icon ==== */
.like-icon-div{
    padding: 1em 1em 0 1em;
    width: 120%;
    box-sizing: border-box;
    text-align: right;
    font-size: 1.5em;
    color: var(--heart-icon-color);
    border-radius:10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
}

.like-icon-div-child{

    width: 1em;
    height: 1em;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.heart-empty{
    position: absolute;
    left: 0;
    opacity: 1;
}

.heart-fill{
    position: absolute;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.35s ease-in-out, opacity 0.2s ease-in-out;
}


/* God of war image and heart-background*/
.gow-img-div{
    background-color: var(--card-1-secondary-color);
}

.gow-img-div img{
    width: 80%;
    transform: translateY(7.5%);
    /* background-color: whitesmoke; */
}



/* Sekiro image and heart-background */
.sekiro-img-div{
    background-color: var(--card-2-secondary-color);
}

.sekiro-img-div img{
    width: 55%;
    transform: translateY(8.5%);
}

/* CARDS ICON  */

.card-1 .like-icon-div{
    background-color: var(--card-1-secondary-color);
}
.card-2 .like-icon-div{
    background-color: var(--card-2-secondary-color);
}
.card-3 .like-icon-div{
    background-color: var(--card-3-secondary-color);
}
.card-4 .like-icon-div{
    background-color: var(--card-4-secondary-color);
}
.card-5 .like-icon-div{
    background-color: var(--card-5-secondary-color);
}
.card-6 .like-icon-div{
    background-color: var(--card-6-secondary-color);
}
.card-7 .like-icon-div{
    background-color: var(--card-7-secondary-color);
}
.card-8 .like-icon-div{
    background-color: var(--card-8-secondary-color);
}
.card-9 .like-icon-div{
    background-color: var(--card-9-secondary-color);
}
.card-10 .like-icon-div{
    background-color: var(--card-10-secondary-color);
}
.card-11 .like-icon-div{
    background-color: var(--card-11-secondary-color);
}
.card-12 .like-icon-div{
    background-color: var(--card-12-secondary-color);
}

/* Dazai image and heart-background */
.dazai-img-div{
    background-color: var(--card-3-secondary-color);
}

.dazai-img-div img{
    width: 80%;
    transform: translateY(7.5%);
}



/* U4 image and heart-background*/
.u4-img-div{
    background-color: var(--card-4-secondary-color);
}

.u4-img-div img{
    width: 50%;
    transform: translateY(7.5%);
}




.text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    padding-top: 9em;
    padding-bottom: 2em;
    box-sizing: border-box;
}

.text-container .item-name,
.text-container .date{
    margin: 0.99em 0;
    text-align: center;
   
}

.text-container .item-name{
    font-size: 1.5em;
    font-weight: var(--title-font-weight);
    color: var(--heading-color);
}

.text-container .date{
    font-size: 1.2em;
    font-weight: var(--date-font-weight);
    color: var(--date-text-color);
}

.pricing-and-cart{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.20em 0 1em 0;
}

.pricing{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.previous-price{
    font-size: 0.8rem;
    font-weight: var(--pricing-font-weight);
    color: var(--previous-price-text-color);
    text-decoration: line-through;
    text-align: left;
}

.current-price{
    color: var(--current-price-text-color);
    font-size: 1.3rem;
    font-weight: var(--pricing-font-weight);
    margin: 0;
}

.pricing-and-cart{
    width: 100%;
}

.fa-shopping-cart{
    font-size: 1.5rem;
    top: 0;
    transform: translateY(60%);
}


/* ====== Hover effects ======= */
.card-div:hover .img-div img{
    transform: translateY(5.5%) scale(1.2);
}

.card-div:hover{
    transform: translate(0, -10px);
}

.like-icon-div-child:hover .heart-fill{
    opacity: 1;
    transform: scale(1);
}

.like-icon-div-child:hover .heart-empty{
    transition-delay: 0.35s;
    opacity: 0;
}

#card-1-like:checked ~ .heart-empty,
#card-2-like:checked ~ .heart-empty,
#card-3-like:checked ~ .heart-empty,
#card-4-like:checked ~ .heart-empty{ 
        opacity: 0;
}

#card-1-like:checked ~ .heart-fill,
#card-2-like:checked ~ .heart-fill,
#card-3-like:checked ~ .heart-fill,
#card-4-like:checked ~ .heart-fill{
    animation: like-animation 0.35s ease-in-out forwards;
}

#card-1-like:not(:checked) ~ .heart-fill,
#card-2-like:not(:checked) ~ .heart-fill,
#card-3-like:not(:checked) ~ .heart-fill,
#card-4-like:not(:checked) ~ .heart-fill{
    animation: unlike-animation 0.25s ease-in-out ;
}

/* 

/////////////////////// */
@keyframes like-animation{
    0%{
        opacity: 1;
        transform: scale(1)
    }
    
    50%{
        opacity: 1;
        color: var(--liked-heart-icon-color);
        transform: scale(0.5);
    }

    100%{
        opacity: 1;
        color: var(--liked-heart-icon-color);
        transform: scale(1.0);
    }
}

@keyframes unlike-animation{
    0%{
        opacity: 1;
        transform: scale(1)
    }
    
    50%{
        opacity: 1;
        transform: scale(0.5);
    }

    100%{
        opacity: 1;
        color: var(--heart-icon-color);
        transform: scale(1.0);
    }
}
/* 
PAGINATION */


/* PRODUCTS HOVER SHOES */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    font-family: "Poppins";
    --primary-color-1: hsl(348, 68%, 34%);
    --primary-color-2: hsl(20,94%,34%);
    --primary-color-3: hsl(232,16%,34%);
    --primary-color-4: hsl(0, 0%, 25%);
    --text-area-color: whitesmoke;
    --heading-secondary-color: hsl(0, 0%, 55%);
    --secondary-card-color: whitesmoke;
}

html{
    width: 100%;
    height: 100%;
}

body{
    /* background-color: skyblue; */
}

input{
    display: none;
}

.container{
    margin: 0 auto;
    /* background-color: green; */
    max-width: 200rem; 
    min-height: 30rem;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.card-container{
    display: flex;
    flex-direction: row;
    /* background-color: wheat; */
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px  rgb(145, 145, 145); 
    border-radius: 0.8rem;
}

.shoe-area{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    border-radius: 0.8rem 0 0 0.8rem
}

.logo-div{
    margin: 2rem 0  0 1.5rem;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: yellowgreen; */
}

.logo-div img{
    width: 70%;
    opacity: 0.1;
}

.floating-div{
    /* background-color: yellowgreen; */
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    align-items: center;
    animation: float 6s ease-in-out infinite;
    box-sizing: border-box; 
}

@keyframes float{
    0%{
        transform: translateY(0%);
    }

    50%{
        transform: translateY(-6%);
    }

    100%{
        transform: translateY(0%);
    }
}

.shoe-area :is(.shoe-1, .shoe-2, .shoe-3, .shoe-4) {
    /* background-color: yellow; */
    position: absolute;
    width: 100%;
    transform: rotateZ(-30deg) scale(1.3) translateX(-10%);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.shoe-area .shoe-4{
    /* background-color: whitesmoke; */
}



:is(.shoe-1, .shoe-2, .shoe-3, .shoe-4) img{
    width: 100%;
    opacity: 0;
    transform: rotateZ(-30deg) scale(1.3) translateX(-10%);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}


/*  ============= 
            Text styling 
                    ========== */

.text-area{
    background-color: var(--text-area-color);
    /* background-color: rgb(114, 91, 114); */
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0 0.8rem 0.8rem  0 
}

.text-area .heading-area{
    padding: 1rem;
}

.heading-area h2{
    font-weight: 800;
    font-size: 2.5rem;
    transition: color 0.3s ease-in-out;
}

.heading-area h4{
    margin: 0.25rem 0 0 0;
}

.paragraph-area{
    margin: 1.5rem 1rem 1.5rem 5rem;
    /* background-color: yellow; */
    font-size: 1rem;
}

/*  ============= 
            Available colors
                    ========== */

.color-selection{
    margin: 1rem 1rem 1.5rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.8rem;
    box-sizing: border-box;
    /* background-color: wheat; */
    
}

.color-selection h5{
    font-size: 1rem;
}

.color-selection .colors{
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.color-pick-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.8rem;
}

.color-selection .color-1{
    background-color: var(--primary-color-1);
}

.color-selection .color-2{
    background-color: var(--primary-color-2);
}

.color-selection .color-3{
    background-color: var(--primary-color-3);
}

.color-selection .color-4{
    background-color: var(--primary-color-4);
}


/*  ============= 
            price-and-buy-btn styling
                             ========== */

.price-and-buy-btn{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    
}

.price-and-buy-btn :is(.price-1, .price-2, .price-3, .price-4){
    display: none;
    font-weight: 800;
    font-size: 2.5rem;
    transition: color 0.3s ease-in-out;
}

.buy-btn{
    padding: 1em 1.5em;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: none;
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* ========== Themes ======== */

/* Theme 1 */
#color-1:checked ~ .text-area .color-selection .color-pick-div .color-1{
    outline: 2px solid var(--primary-color-1);
    outline-offset: 2px;
}

#color-1:checked ~ .shoe-area{
    background-color: var(--primary-color-1);
}


#color-1:checked ~ .text-area .heading-area h2{
    color: var(--primary-color-1)
}

#color-1:checked ~ .text-area .price-and-buy-btn .price-1{
    display: block;
    color: var(--primary-color-1);
}

#color-1:checked ~* .buy-btn{
    background-color: var(--primary-color-1);
}

/* Theme 2 */
#color-2:checked ~ .text-area .color-selection .color-pick-div .color-2{
    outline: 2px solid var(--primary-color-2);
    outline-offset: 2px;
}

#color-2:checked ~ .shoe-area{
    background-color: var(--primary-color-2);
}


#color-2:checked ~ .text-area .heading-area h2{
    color: var(--primary-color-2)
}

#color-2:checked ~ .text-area .price-and-buy-btn .price-2{
    display: block;
    color: var(--primary-color-2);
}

#color-2:checked ~* .buy-btn{
    background-color: var(--primary-color-2);
}

/* Theme 3 */
#color-3:checked ~ .text-area .color-selection .color-pick-div .color-3{
    outline: 2px solid var(--primary-color-3);
    outline-offset: 2px;
}

#color-3:checked ~ .text-area .price-and-buy-btn .price-3{
    display: block;
    color: var(--primary-color-3);
}

#color-3:checked ~ .shoe-area{
    background-color: var(--primary-color-3);
}

#color-3:checked ~ .text-area .heading-area h2{
    color: var(--primary-color-3)
}

#color-3:checked ~* .buy-btn{
    background-color: var(--primary-color-3);
}


/* Theme 4 */
#color-4:checked ~ .text-area .color-selection .color-pick-div .color-4{
    outline: 2px solid var(--primary-color-4);
    outline-offset: 2px;
}

#color-4:checked ~ .shoe-area{
    background-color: var(--primary-color-4);
}

#color-4:checked ~ .text-area .price-and-buy-btn .price-4{
    display: unset;
    color: var(--primary-color-4);
}

#color-4:checked ~ .text-area .heading-area h2{
    color: var(--primary-color-4)
}


#color-4:checked ~* .buy-btn{
    background-color: var(--primary-color-4);
}

/* Transition when the screen is higher than 1000px */

@media screen and (min-width: 62.5rem){

    #color-1:checked ~ .shoe-area .floating-div .shoe-1 {
        transition-delay: 0.2s;
        animation-delay: 0.3s;
        transform: rotateZ(0);
        z-index: 99;
    }

    #color-1:checked ~ .shoe-area .floating-div .shoe-1 img{
        transition-delay: 0.2s;
        opacity: 1;
    }


    /* Theme 2 */
    #color-2:checked ~ .shoe-area .floating-div .shoe-2 {
        transition-delay: 0.2s;
        transform: rotateZ(0);
        z-index: 99;
    }

    #color-2:checked ~ .shoe-area .floating-div .shoe-2 img{
        transition-delay: 0.2s;   
        opacity: 1;
    }

    /* Theme 3 */
    #color-3:checked ~ .shoe-area .floating-div .shoe-3 {
        transition-delay: 0.2s;   
        transform: rotateZ(0);
        z-index: 99;
    }

    #color-3:checked ~ .shoe-area .floating-div .shoe-3 img{
        transition-delay: 0.2s;   
        opacity: 1;
    }


    /* Theme 4 */
    #color-4:checked ~ .shoe-area .floating-div .shoe-4 {
        transition-delay: 0.2s;
        transform: rotateZ(0);
        z-index: 99;
    }

    #color-4:checked ~ .shoe-area .floating-div .shoe-4 img{
        transition-delay: 0.2s;   
        opacity: 1;
        
    }
}


#color-4:checked ~* .heading-area h2{
    color: var(--primary-color-4)
}



@media screen and (max-width: 62.5rem){
    .container{
        padding: 1rem;  
    }
    
        .card-container{
        display: flex;
        flex-direction: column;
    }

    .shoe-area{
        width: 100%;
        height: 40vw;
        padding: 1rem 0;
        border-radius: 0.8rem 0.8rem 0 0;
    }

    .shoe-area :is(.shoe-1, .shoe-2, .shoe-3, .shoe-4) {
    /* background-color: yellow; */
    position: absolute;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;

    }

    /* Transition for any screen lower than 1000px */

    .shoe-area :is(.shoe-1, .shoe-2, .shoe-3, .shoe-4) {
        /* background-color: yellow; */
        transform: rotateZ(0deg)  translateY(-10%);
        width: 70%;
        margin: 1rem 0;
        opacity: 0;
    }

    :is(.shoe-1, .shoe-2, .shoe-3, .shoe-4) img{
        transform: rotateZ(0) scale(1) ;
        opacity: 1;
    }

    #color-1:checked ~ .shoe-area .floating-div .shoe-1 {
        transition-delay: 0.2s;
        opacity: 1;
        transform: rotateZ(0);
    }

    #color-1:checked ~ .shoe-area .floating-div .shoe-1 img{
        transition-delay: 0.2s;
        opacity: 1;
    }


    /* Theme 2 */
    #color-2:checked ~ .shoe-area .floating-div .shoe-2 {
        transition-delay: 0.2s;
        opacity: 1;
        transform: rotateZ(0);
        
    }

    #color-2:checked ~ .shoe-area .floating-div .shoe-2 img{
        transition-delay: 0.2s;   
        opacity: 1;
    }

    /* Theme 3 */
    #color-3:checked ~ .shoe-area .floating-div .shoe-3 {
        transition-delay: 0.2s; 
        opacity: 1;  
        transform: rotateZ(0);
    }

    #color-3:checked ~ .shoe-area .floating-div .shoe-3 img{
        transition-delay: 0.2s;   
        opacity: 1;
    }


    /* Theme 4 */
    #color-4:checked ~ .shoe-area .floating-div .shoe-4 {
        transition-delay: 0.2s;
        transform: rotateZ(0);
        opacity: 1;
    }

    #color-4:checked ~ .shoe-area .floating-div .shoe-4 img{
        transition-delay: 0.2s;   
        opacity: 1;  
    }

    /* Transition end */

    .logo-div img{
        width: 40%;
    }

    .text-area{
        /* background-color: rgb(114, 91, 114); */
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 0 0  0.8rem 0.8rem 
    }

    .paragraph-area, .color-selection{
        margin: 1.5rem 1rem;
    }
}

/* ====== Phone Size ===== */
@media screen and (max-width: 26.9rem){
    
    .paragraph-area{
        margin: 1rem;
        font-size: 0.8rem;
    }

    .paragraph-area, .color-selection{
        margin: 0.7rem 1rem;
        
    }

    .color-selection{
        display: flex;
        flex-direction: column;
        align-items: unset;
        row-gap: 0.8rem;;
    }

    .price-and-buy-btn{
        padding: 0.5rem 1rem;
        flex-direction: column;
        row-gap: 0.8rem;
        align-items: flex-start;
    }
}


/* FOOTER */
body {
  background: #fbfbfd;
}

.new_footer_area {
  background: #fbfbfd;
}


.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
}

.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}

.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}





.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}

.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}

.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.ti-facebook:before {
  content: "\e741";
}

.ti-twitter-alt:before {
  content: "\e74b";
}

.ti-vimeo-alt:before {
  content: "\e74a";
}

.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
  color: white;
}

.new_footer_top .f_social_icon a+a {
  margin-left: 4px;
}

.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}

.f_600 {
  font-weight: 600;
}

.f_size_18 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b505e;
}

.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}


.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://media0.giphy.com/media/H6hw5PYMmT8ANvbJCX/giphy.gif?cid=ecf05e47yukeh6ccqy9j5xa129dug0b41pii6ccxwyy92fs5&rid=giphy.gif&ct=g") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://media2.giphy.com/media/xUA7b3JB7WAIGVbyTK/giphy.gif?cid=ecf05e47b1snd1mopo26dy6wvhq0edyhc9gdaqwmeqqkpakl&rid=giphy.gif&ct=g") no-repeat center center;
  width: 100px;
  height: 100px;
  background-size: 220%;
  bottom: 0;
  left: 50%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}